doctype html
html(lang='en')
  head
    title GCC - TP2
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', id='bootstrap-id')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')    
  body(id='LoginForm')
    div(class="container")
      h1(class="form-heading") GCC - TP2
      div(class="login-form")
        div(class="main-div")
          div(class="panel")
            h2 Login
            p Please enter your email and password

          form(id="Login" action="/" method="post" style="margin-bottom: .75rem")
            div(class="form-group")
              input(type="email" class="form-control" name="email" placeholder="Email Address")
            div(class="form-group")
              input(type="password" class="form-control" name="password" placeholder="Password")
            button(type="submit" class="btn btn-primary") Login
          
          if typeof(loginStatus) !== "undefined"
            if loginStatus
              div(class="alert alert-success" role="alert")
                p Login Successful!
            else
              div(class="alert alert-danger" role="alert")
               p Invalid Credentials
