doctype html
html(lang='en')
  head
    title GCC - TP2
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', id='bootstrap-css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/not_found_styles.css')
  body
    div(class="page-wrap d-flex flex-row align-items-center")
      div(class="container")
        div(class="row justify-content-center")
          div(class="col-md-12 text-center")
            span(class="display-1 d-block") 404
            div(class="mb-4 lead") The page you are looking for was not found.
            a(href="/" class="btn btn-link") Back to Home
